*{
	font-family: 'Scada', sans-serif;
}


/* ----------------------------------------------------- header ---------------------------------------------------- */


.header-top{
	background-color: #fff;
	border-top: 5px solid #006d8F;
	border-bottom: none;
}

.padding-header{
	padding: 50px 0 65px 0;
}

.float{
	float: right;
	padding-left: 70px;
}

ul li a{
	font-size: 18px;
	padding-left: 15px;
}

.navbar-default .navbar-nav > li > a{
	color: #006d8F;
}

.navbar-default .navbar-nav > li > a:hover{
	color: #989898;
}

#logo-brand {
    margin-top: -18px;
    padding-left: 70px;
}

.navbar-toggle{
	border: none;
}

.navbar-default .navbar-toggle .icon-bar {
  	background-color: #006d8F;
}
.navbar-toggle:hover,
.navbar-toggle:active,
.navbar-toggle:focus
{
	background:none !important;
	border-color:none !important;
}


/* ------------------------------------------------- carousel ------------------------------------------------------------- */

.carousel-inner > .item > img {
  min-width:100%;
  height:680px;
}

.full-width {
    width: 100%;
}

.carousel-caption {
    position: absolute;
    top: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 100%;
}

.desc-carousel h1{
	font-size: 4.2em;
}

/* ---------------------------------------------------- service ----------------------------------------------------- */

#service-session{
	background: #006d8F;
}

.bg-img{
	background: url('../image/wall.png');
	background-repeat: repeat-x;
	background-position: bottom center;
}

.service-section{
	padding: 80px 80px 170px 80px;
}

.title {
    padding-bottom: 30px;
}

h1{
	color: #fff;
	font-weight: bold;
}

figure img {
    height: 43px;
    width: auto;
    margin-bottom: 15px;
}
figure {
    border-bottom: 4px solid white;
}

article {
    margin-top: 10px;
}

article p{
	color: #fff;
	font-size: 16px;
	font-weight: bold;
}


.line{
	height: 6px;
	width: 40px;
	background-color: #fff;
}

/* ------------------------------------------------------- project ---------------------------------------------------------- */

.line-project{
	height: 6px;
	width: 40px;
	background-color: #989898;
}

.wrapper-all-content-project{
	padding: 80px;
}

.thumbnail{
	background-color: #EEF2F5;
	border:none;
	padding: 0;
}

.thumbnail img{
	height: 261px;
	width: 348px;
}

.view-all-work{
	float: right;		
}

.btn-primary{
	background-color: #006d8F;
	border-color: none;
	border-radius: 0px;
	padding: 12px;
}

.btn-primary:hover{
	background-color: #006d8F;
}

.btn-info {
    color: #fff;
    background-color: #006d8F;
    border-color: none;
    padding: 12px;
    border-radius: 0px;
    width: 100%;
    display: none;
}

.btn-info:hover{
	background-color: #006d8F;
}


/* ---------------------------------------------------- blog ---------------------------------------------------------- */

.wrapper-blog-home{
	background-color: #F5F5F5;
}

.line-blog{
	height: 6px;
	width: 40px;
	background-color: #989898;
}

.content-blog-home{
	padding: 50px 80px;
}

.blog-home{
	background-color: #fff;
}

.blog-home img{
	height: 100px;
	min-width: 100%;
}


/*footer*/

#wrapper-footer{
	background-color: #323232;
}

.wrapper-content-footer{
	padding: 50px 80px;
}

.title-nav h3{
	color: #fff;
}

.wrapper-nav{
	margin-top: 50px;
}

.line-nav{
	height: 6px;
	width: 25px;
	background-color: #fff;
}

.wrapper-copyright h5{
	color: #fff;
}

.bg-img-footer{
	background-image: url('../image/footer-bg.png');
	background-repeat: repeat-x;
	background-position: bottom center;
}




/* ---------------------------------------------------- responsive --------------------------------------------------------- */

@media (max-width: 1198px){
	#logo-brand {
    	margin-top: -6px;
    	padding-left: 0px;
	}
	.navbar-header {
    	padding-bottom: 30px;
	}
	.carousel-inner > .item > img {
  		min-width:100%;
  		height:550px;
	}
	.service-section{
		padding: 60px 10px 80px 10px;
	}
	.content-image-text{
		margin-bottom: 15px;
	}
	.col-content{
		margin-bottom: 35px;
	}
	.wrapper-all-content-project{
		padding: 30px 10px;
	}
	.content-blog-home{
		padding: 30px 10px;
	}
	
}


@media only screen and (max-width: 767px){
	.float{
		float: left;
		padding-left: 20px;
	}
	.padding-header{
		padding: 50px 0;
	}
	#logo-brand {
    	padding-left: 0;
    	margin-top: -12px;
	}
	.navbar-header {
    	padding-bottom: 30px;
	}
	.carousel-inner > .item > img {
  		min-width:100%;
  		height:450px;
	}
	.service-section{
		padding: 60px 10px 80px 10px;
	}
	.thumbnail img{
		height: 261px;
		min-width: 100%;
	}
	.btn-primary{
		display: none;
	}
	.btn-info{
		display: block;
	}
	.wrapper-all-content-project{
		padding: 50px 10px;
	}
	.desc-carousel h1{
		font-size: 3em;
	}
	.wrapper-button-hidden {
    	padding: 10px 0px 50px 0px;
	}
	
}

@media (max-width: 394px){
	article p{
		font-size: 12px;
		font-weight: normal;
	}
}

@media only screen and (max-width: 294px){
	#logo-brand {
    	padding-left: 0;
    	width: 80%;
    	margin-top: -57px;
	}	
	.navbar-header {
    	padding-bottom: 30px;
	}
	.carousel-inner > .item > img {
  		min-width:100%;
  		height:350px;
	}
	.navbar{
		margin-bottom: 0;
	}
	.padding-header{
		padding-bottom: 0;
	}
	.service-section{
		padding: 50px 10px 70px 10px;
	}
	article p{
		font-size: 9px;
		font-weight: normal;
	}
	.thumbnail img{
		height: 150px;
		min-width: 100%;
	}
	.desc-carousel h1{
		font-size: 25px;
	}
	.we-can-help-you h1{
		font-size: 30px;
	}
	.projects-desc h1{
		font-size: 30px;
	}
	.from-our-blog h1{
		font-size: 30px;
	}
	.content-blog-home {
    	padding: 30px 10px 10px 10px;
	}
	.wrapper-button-hidden {
    	padding: 10px 0px 50px 0px;
	}
	
}
